.container {
    margin: 0 auto;
    max-width: 1200px;
}



.flex-container {
    display: flex;
}

.w1200 {
    width: 1200px;
}


.header_top {
    /* padding: 8px 0; */
    border-bottom: 1px solid #DDDDDD;
}

.header_top-2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/*Right Top Menu*/

/* .header_top_left {
    display: flex;
    align-items: center;
} */

.menu_left {
    display: flex;
    align-items: center;
    font-size: 14px;
    line-height: 14px;
}

.menu_left>div {
    padding: 8px 0;
}



/*Right Top Menu*/

/* .header_top_right {
    display: flex;
    align-items: center;
    min-height: 100%;
} */

.menu_right {
    display: flex;
    align-items: center;
    font-size: 14px;
    line-height: 14px;
    min-height: 100%;
}

.menu_right>a {
    margin-right: 16px;
}

.menu_right>a:last-child {
    margin-right: 0;
}

.button_grey {
    color: #939393;
}

.button_black {
    color: #000000;
    text-align: center;
}

.button_callback {
    color: #3B52F5;
    border-bottom: 1px dotted #3B52F5;
}

.button_callback:hover {
    border-bottom: none;
}

/* Окно выбора города */

.city-submit-window {
    display: none;
    position: absolute;
    top: 43px;
    background-color: #fff;
    z-index: 10;
    padding: 16px 24px;
    border-radius: 0px 0px 2px 2px;
    box-shadow: 0px 4px 10px 0px #0000001A;
    border: 1px solid #D6D6D6;
}



.city-submit-window::after {
    content: "";
    display: inline-block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 9px 9px 9px;
    border-color: transparent transparent #FFF transparent;
    z-index: 30;
    position: absolute;
    top: -9px;
    left: 26px;
}

.city-submit-window::before {
    content: "";
    display: inline-block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 11px 11px 11px;
    border-color: transparent transparent #D6D6D6 transparent;
    z-index: 20;
    position: absolute;
    top: -11px;
}

/*Всплывающее меню в хедере*/

.menu_drop {
    display: flex;
    align-items: center;
}

.menu_drop_container {
    display: none;
    position: absolute;
    top: 38px;
    background-color: #fff;
    z-index: 10;
}

.dropdown-active {
    display: block;
}

.menu_drop_menu {
    /* display: block; */
    background-color: #fff;
    padding: 16px 24px;
    border-radius: 0px 0px 2px 2px;
    box-shadow: 0px 4px 10px 0px #0000001A;
    min-width: calc(100% - 24px);
    white-space: wrap;
}

.menu_drop_menu a {
    display: block;
    margin-top: 12px;
    color: #000;
}

.menu_drop_menu a:first-child {
    margin-top: 0;
}

.menu_drop:hover>a {
    color: #3B52F5;
    -webkit-transition: color .2s;
    -o-transition: color .2s;
    transition: color .2s;
}

.submenu-active {}


.icon-dorp-2 {
    color: #939393;
    font-size: 5px;
    vertical-align: middle;
    margin-left: 4px;
}

.icon-head-menu {
    margin-right: 4px;
    color: #D91515;
    font-size: 21px;
}

.icon-head-menu-2 {
    margin-right: 4px;
    color: #D91515;
    font-size: 16px;
}

.drop-active:hover .icon-dorp-2 {
    transform: rotate(180deg);
    color: #3B52F5;
    -webkit-transition: color .2s;
    -o-transition: color .2s;
    transition: color .2s;
}



/*Нижняя часть хэдера*/

.header_bottom {
    padding: 32px 0 0;
}

.container-head-main {
    margin: 0 auto;
    max-width: 1200px;
}

.header_bottom-line {
    display: flex;
    align-items: center;


}

.header_bottom-left {
    display: flex;
    align-items: center;
    justify-items: flex-start;
    height: 51px;
    margin-right: 36px;
}

.logo-left {
    background-color: #D91515;
    color: #FFFFFF;
    transform: rotate(-90deg);
    padding: 10px 6px;
    font-size: 12px;
    line-height: 12px;
    font-weight: bold;
    text-align: center;
    border-radius: 1px;
    flex-basis: 42px;
    margin-left: -8px;
    white-space: nowrap;
}

.logo-img {
    /*flex-basis: 220px;*/
    height: 45px;
    margin-left: 5px;
}

/*Строка поиска*/

.header_bottom-center {
    flex-basis: 50%;
}

.header_bottom-center>form {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}


.input-search {
    flex: 0 2 100%;
    background-color: #fff;
    border-radius: 2px;
    border: 1px solid #3B52F5;
    padding: 16px;
}
    ::-webkit-input-placeholder { color:#939393; font-family: HelveticaNeueCyr; font-size: 14px;}
    ::-moz-placeholder { color:#939393; font-family: HelveticaNeueCyr; font-size: 14px;}
    :-ms-input-placeholder { color:#939393; font-family: HelveticaNeueCyr; font-size: 14px;}
    :-moz-placeholder { color:#939393; font-family: HelveticaNeueCyr; font-size: 14px;}

.input-search:focus::-webkit-input-placeholder {
    color: transparent;
}

.search-btn {
    position: absolute;
    padding: 14px 16px;
}

.search-btn:hover {
    cursor: pointer;
}

/*Кнопки в хедере*/
.header_bottom-right {
    display: flex;
    align-items: center;
}

.head-nav-btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 24px;
}

.head-nav-btn:last-child {
    margin-right: 0;
}

.head-nav-btn:hover>p {
    color: #D91515;
    -webkit-transition: all .4s ease-in;
    -o-transition: all .4s ease-in;
    transition: all .4s ease-in;
}

.icon-head-menu-nav {
    font-size: 18px;
}


.head-nav-btn-text {
    color: #000;
    margin-top: 5px;
    text-align: center;
    white-space: nowrap;
}



.head-nav-icon-count {
    display: flex;
    align-items: center;
}

.count {
    color: #fff;
    font-size: 10px;
    line-height: 10px;
    padding: 3px 5px;
    background-color: #D91515;
    border-radius: 2px;
    margin-left: 4px;
}

/*Блок с меню и баннером*/

.logo-1 {
    margin-right: 12px;
}

.logo-1>span {
    display: block;
    font-size: 21px;
}

.catalog-menu-banner {
    display: flex;
    margin-bottom: 60px;
}

.catalog-menu {
    margin-right: 20px;
    border: 1px solid #DDD;
    border-radius: 2px;
    display: flex;
    flex-direction: column;
    min-width: 23.75%;

}

.icon-arrow-catalog {
    position: absolute;
    right: 24px;
}

.main-menu-elt {
    display: flex;
    align-items: center;
    padding: 12px 24px;
    position: relative;
    border-bottom: 1px solid #DDD;
    color: #000;
}

.main-menu-elt>p{
	padding-right: 4px;
}

.icon-drop-right {
    color: #000;
    font-size: 6px;
    transform: rotate(270deg);
}

.main-menu-elt:hover {
    background-color: #3B52F5;
    color: #FFF;
}

.main-menu-elt:hover .icon-drop-right {
    color: rgb(255, 255, 255);
}

.main-menu-elt:last-child {
    border-bottom: none;
}


.banner-and-tabs {
    overflow: hidden;
}

.banner {
    display: flex;
    background-color: #EEEEF2;
    border-radius: 2px;
    height: 318px;
}

.banner-left {
    padding: 32px;
    flex-basis: 50%;
}

.nav-icons {
    display: flex;
    margin: 0 0 24px 0;
}

.arrow-prev {
    margin-right: 12px;
    color: #D6D6D6;
    cursor: pointer;
}

.arrow-fwd {
    color: #D6D6D6;
    cursor: pointer;
}

.arrow-prev>span {
    display: block;
}


.arrow-fwd>span {
    /* transform: rotate(180deg); */
    display: block;
}

.arrow-prev:hover {
    color: #3B52F5;
    -webkit-transition: all .4s ease-in;
	-o-transition: all .4s ease-in;
	transition: all .4s ease-in;
}


.arrow-fwd:hover {
    color: #3B52F5;
    -webkit-transition: all .4s ease-in;
	-o-transition: all .4s ease-in;
	transition: all .4s ease-in;
}

.banner-text {
    color: #000;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 4px;
}

.banner-subtext {
    color: #000;
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 24px;
}

.banner-price {
    display: inline-flex;
    align-items: baseline;

}

.banner-price-sum {
    color: #D91515;
    font-size: 24px;
    line-height: 32px;
    font-weight: 700;
    margin-right: 4px;
}

.banner-price-symb {
    color: #D91515;
    font-size: 10px;
}

.banner-price-subtext {
    color: #939393;
    font-size: 12px;
    line-height: 16px;
    margin-bottom: 16px;
}

.banner-btn-container {
    position: relative;
}

.banner-btn {
    padding: 10px 24px;
    background-color: #3B52F5;
    text-align: center;
    display: inline-block;
    border-radius: 2px;
    cursor: pointer;

}

.banner-btn:hover {
    opacity: 0.7;
}

.banner-btn:hover .banner-btn-text {
    color: #FFF;
}

.banner-btn-text {
    color: #FFF;
}

.banner-right {
    display: flex;
    align-items: flex-end;
    flex-basis: 50%;
    justify-content: center;
}

.banner-img-mobile {
    display: none;
}

.banner-img {
    /*position: relative;
	top: 18px;*/
}

.banner-tabs {
    display: flex;
    justify-content: space-between;
    margin: 0 -10px;
}

.banner-tabs-col {
    padding-left: 10px;
    padding-right: 10px;
    flex-basis: 33.33%;

}

.banner-tab {
    display: inline-flex;
    background-color: #EEEEF2;
    align-items: center;
    border-radius: 2px;
    height: 100%;
}

.banner-tab:hover {
    background-color: #3B52F5;
    color: #FFF;
    -webkit-transition: all .4s ease-in;
    -o-transition: all .4s ease-in;
    transition: all .4s ease-in;
}

.banner-tab:hover .banner-tab-text {
    color: #FFF;
}

.banner-tab-img {
    padding: 12px 16px;
}

.banner-tab-text {

    padding-right: 16px;
    color: #000;
}


/*Блок с товарами*/
.items-main {
    margin-bottom: 24px;
}

.items-h2-nav {
    display: flex;
    align-items: center;
    /*position: relative;*/
    margin-bottom: 32px;
    justify-content: space-between;
    align-self: stretch;
}

.h2-block {
    display: block;
}


.items-main-1 {
    display: block;
}

.items-tabs-block {
    margin-bottom: 24px;
    position: relative;
}

.items-tabs {
    display: inline-flex;
    
}

.tab-line {
    height: 1px;
    background-color: #DDDDDD;
}

.items-tab {
    margin-right: 40px;
    padding-bottom: 24px;
    position: relative;
    cursor: pointer;
}

.tabline {
    display: block;
    width: 100%;
    height: 2px;
    background-color: #3B52F5;
    position: absolute;
    bottom: -1px;
}

.items-tab:hover {
    color: #000;
    -webkit-transition: all .4s ease-in;
	-o-transition: all .4s ease-in;
	transition: all .4s ease-in;
}

.tab-active {
    color: #000;
}



/*Карточка товара*/

.items-scroll-x {
	display: flex;
	overflow: auto;
	margin-right: -10px;
	scroll-snap-type: x mandatory;
}

.items-scroll-mobile {
	display: none;
}

.items-scroll {
    display: flex;
    margin-bottom: 24px;
    margin-right: 10px;
    margin-left: -10px;
    min-width: 100%;
    scroll-snap-align: center;
    /*overflow-x: auto;*/
}

.items-scroll-col {
    padding: 0 10px;
    max-width: 20%;
    min-width: 20%;
    
}

.items-scroll-col:last-child {
	margin-right: 0;
}

.item-card {
    border: 1px solid #DDDDDD;
    border-radius: 2px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 100%;

}

.item-card-top {
    padding: 12px;
    position: relative;
    height: 100%;
}

.item-badges {
    width: 44px;
    position: absolute;

}

.sale-badge {
    padding: 2px 10px;
    background-color: #D91515;
    text-align: center;
    font-size: 12px;
    color: #FFF;
    margin-bottom: 4px;
}

.badge {
    padding: 2px 10px;
    background-color: #4D2A87;
    text-align: center;
    font-size: 12px;
    color: #FFF;
    margin-bottom: 4px;
}

.purple-badge {
    background-color: #4D2A87;
}

.red-badge {
    background-color: #D91515;
}

.blue-badge {
    background-color: #3B52F5;
}

.item-img {
    margin-bottom: 38px;
    display: block;
}

.item-img>img {
    width: 100%;
}

.artic-fav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
}

.item-small-text {
    color: #939393;
    font-size: 12px;
    line-height: 16px;
}

.item-fav-icon {
    font-size: 18px;
    color: #939393;
}

.favorite-btn:hover>span {
    color: #D91515;
}

.item-name {
    color: #000;
    font-size: 14px;
    line-height: 18px;
    display: block;
    margin-bottom: 12px;
}

.discount-badge {
    background-color: #59B72C;
    color: #FFF;
    font-size: 12px;
    line-height: 16px;
    padding: 2px 12px;
    text-align: center;
    margin-bottom: 6px;
    display: inline-flex;
}

.item-price {
    margin-top: auto;
    margin-bottom: 4px;
    display: flex;
    align-items: baseline;
}

.item-price-sum {
    color: #000;
    font-size: 18px;
    line-height: 26px;
    margin-right: 4px;
}

.item-price-symb {
    color: #000;
    font-size: 8px;
    margin-right: 4px;
}

.item-price-sum-2 {
    color: #000;
    font-size: 12px;
    line-height: 16px;
    margin-right: 4px;
}

.item-price-discount {
    display: flex;
    align-items: baseline;
    position: relative;
}

.item-price-discount>span {
    color: #939393;
    font-size: 8px;
}

.item-price-discount-sum {
    margin-right: 4px;
    font-size: 12px;
    line-height: 16px;
    color: #939393;

}


.item-price-discount-sum-2 {
    font-size: 12px;
    line-height: 16px;
    color: #939393;
}

.crossout-line {
    position: absolute;
    height: 1px;
    background-color: #939393;
    top: 8px;
    width: 100%;
}

.item-card-bottom {
    padding: 12px;
    border-top: 1px solid #DDD;
}

.small-text-tooltip {
    display: flex;
}

.item-tooltip {
    background-color: #EEEEF2;
    border-radius: 50%;
    width: 16px;
    height: 16px;

}

.tooltip-text {
    font-size: 8px;
    line-height: 8px;
    text-align: center;
    box-sizing: content-box;
    margin-top: 5px;
}

/*Кнопки количества и купить*/

.small-text-tooltip {
    margin-bottom: 10px;
}

.item-card-pcs-buy {
    display: flex;
    align-items: center;

}

.pcs-price {
    display: flex;
  	width: 52%;
}

.item-card-pcs {
    display: flex;
    align-items: center;
    background-color: #EEEEF2;
    border-radius: 2px;
    margin-right: 16px;

}


.qnt-minus-btn {
    padding-right: 4px;
    height: 38px;
    padding-left: 12px;
    display: flex;
    align-items: center;

}

.qnt-plus-btn-hor {
    content: "";
    background-color: #000;
    height: 1px;
    width: 9px;
    display: block;
}

.qnt-minus-btn:hover .qnt-plus-btn-hor {
    background-color: #3B52F5;
}

.qnt-choose {
    width: 100%;
    text-align: center;
    background-color: transparent;
    font-size: 12px;
}

.qnt-plus-btn-container {
    display: flex;
    align-items: center;
    padding-left: 4px;
    padding-right: 12px;
    height: 38px;
}

.qnt-plus-btn {
    position: relative;
}

.qnt-plus-btn-ver {
    content: "";
    background-color: #000;
    height: 9px;
    width: 1px;
    display: block;
    position: absolute;
    left: 4px;
    top: -4px;
}

.qnt-plus-btn-container:hover .qnt-plus-btn>div {
    background-color: #3B52F5;
}

.standart-btn {
    background-color: #3B52F5;
    padding: 10px 21px;
    border-radius: 2px;
    white-space: nowrap;
    color: #FFF;
    display: inline-block;
    cursor: pointer;
}

.standart-btn:hover {
    opacity: 0.8;
    -webkit-transition: all .4s ease-in;
	-o-transition: all .4s ease-in;
	transition: all .4s ease-in;
}

.standart-btn:hover .a-no-hover {
    color: #FFF;
    -webkit-transition: all .4s ease-in;
	-o-transition: all .4s ease-in;
	transition: all .4s ease-in;
}

.item-card-buy-btn {
    background-color: #3B52F5;
    padding: 10px 21px;
    border-radius: 2px;
    white-space: nowrap;
    color: #FFF;
    text-align: center;
    display: inline-flex;
}

.item-card-buy-btn>a {
    color: #FFF;
}

.item-card-buy-btn:hover {
    opacity: 0.8;
    -webkit-transition: all .4s ease-in;
    -o-transition: all .4s ease-in;
    transition: all .4s ease-in;
}

.item-card-buy-btn:hover .a-no-hover {
    color: #FFF;
}

.pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 24px;
}

.pagination-item {
    background-color: #EEEEF2;
    border-radius: 50%;
    width: 6px;
    height: 6px;
    margin-right: 12px;
}

.pagination-item:hover {
    background-color: #3B52F5;
}

.pagination-item:last-child {
    margin-right: 0;
}

.red-btn {
    background-color: #D91515;
    color: #FFF;
    text-align: center;
}

/*Популярные категории на главной*/

.popular-cat-tiles {
    display: flex;
    margin-bottom: 24px;
    max-width: 100%;
}

.popular-cat-tiles-col {
    flex-basis: 25%;
    flex-shrink: 1;
    padding: 0 10px;
}

.popular-cat-tiles-col:first-child {
    padding-left: 0;
}

.popular-cat-tiles-col:last-child {
    padding-right: 0;
}

.popular-main-mobile {
	display: none;
}

.offers-tiles {
    display: block;
}

.offers-tiles-mobile {
    display: none;
}

.tile-head {
    color: #000;
    font-size: 18px;
    line-height: 26px;
    margin-bottom: 4px;
    max-width: 146px;
}

.tile-subtext {
    color: #939393;
    font-size: 12px;
    line-height: 16px;
}

.tile-icon {
    font-size: 40px;
    position: absolute;
    right: 24px;
    bottom: 24px;
}

.col1-tile-1 {
    padding: 16px 24px 24px 24px;
    background-color: #EEEEF2;
    position: relative;
    min-height: 198px;
    display: block;
    max-width: 100%;
}

.col1-tile-2 {
    padding: 16px 24px 24px 24px;
    background-color: #EEEEF2;
    position: relative;
    min-height: 164px;
    display: block;
    max-width: 100%;
}


.col2-tile-1 {
    padding: 16px 24px 24px 24px;
    background-color: #EEEEF2;
    position: relative;
    min-height: 248px;
    display: block;
    max-width: 100%;
}

.col2-tile-2 {
    padding: 16px 24px 24px 24px;
    background-color: #EEEEF2;
    position: relative;
    min-height: 114px;
    display: block;
    max-width: 100%;
}

.col3-tile-1 {
    padding: 16px 24px 24px 24px;
    background-color: #EEEEF2;
    position: relative;
    min-height: 114px;
    display: block;
    max-width: 100%;
}

.col3-tile-2 {
    padding: 16px 24px 24px 24px;
    background-color: #EEEEF2;
    position: relative;
    min-height: 114px;
    display: block;
    max-width: 100%;
}

.col3-tile-3 {
    padding: 16px 24px 24px 24px;
    background-color: #EEEEF2;
    position: relative;
    min-height: 114px;
    display: block;
    max-width: 100%;
}

.col4-tile-1 {
    padding: 16px 24px 24px 24px;
    background-color: #EEEEF2;
    position: relative;
    min-height: 114px;
    display: block;
    max-width: 100%;


}

.col4-tile-2 {
    padding: 16px 24px 24px 24px;
    background-color: #EEEEF2;
    position: relative;
    min-height: 248px;
    display: block;
    max-width: 100%;


}

.col-tile-hover:hover {
    background-color: #3B52F5;
    color: #FFF;
}

.col-tile-hover:hover .tile-head {
    color: #FFF;
}

.col-tile-hover:hover .tile-subtext {
    color: #FFF;
}

.col-tile-hover:hover .tile-icon {
    color: #FFF;
}

.popular-main {
    /*display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: ;*/
}

.popular-main-mobile {
	display: none;
}

.popular-cat-btn {
    padding: 10px 21px;
}


/*Мини баннер с грузовиком*/

.page-banner-bg {
    background-color: #EEEEF2;
    margin-bottom: 58px;
}

.page-banner {
    display: flex;
    align-items: center;

}

.page-banner-left {
    width: 100%;
    padding-top: 48px;
    padding-bottom: 43px;
    padding-left: 104px;
}

.page-banner-textprice {
    display: flex;
    align-items: baseline;
}

.page-banner-right {
    padding-right: 104px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.page-banner-img-mobile {
    display: none;
}

.pagination-mobile {
    display: none;
}

/*Хиты продаж и лучшее предложение*/

.hits-offer {
    display: flex;
    /*flex-direction: column;*/
}

.hits {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right: 55px;
    width: 70%;
}

.hits-items-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    margin-left: -10px;
    margin-right: -10px;
}

.hits-item {
    width: 33.33%;
    padding-left: 10px;
    padding-right: 10px;
}

.item-card-small {
    display: flex;
    flex-direction: column;
    border: 1px solid #DDDDDD;
    border-radius: 2px;
    position: relative;
    padding: 12px;
    position: relative;
    height: 100%;
}

.item-small-img {
    margin-bottom: 12px;
    display: flex;
    justify-content: center;
    max-height: 116px;
    max-width: 100%;
}

.item-img-small>img {
    width: 100%;
}

.best-offer {
    width: 414px;
    flex-shrink: 0;
}

.item-card-big {
    border: 1px solid #DDDDDD;
    border-radius: 2px;
    position: relative;
    padding: 16px;
}

.item-big-img {
    display: flex;
    justify-content: center;
    margin-bottom: 44px;
}

.item-big-img>img {
    width: auto
}

.item-big-name {
    color: #000;
    font-size: 14px;
    line-height: 18px;
    display: block;
    margin-bottom: 36px;
}

.item-big-price {
    white-space: nowrap;
}

.item-big-price-btn {
    align-items: flex-start;
    justify-content: space-between;
}

.link-btn {
    display: flex;
    justify-content: center;
}

.duo-banner-block {
    display: flex;
}

.duo-banner {
    display: flex;
    background-color: #D91515;
    align-items: center;
    flex-basis: 590px;
}

.duo-banner-img {
    margin-right: 24px;
}

.purple-banner {
    background-color: #4D2A87;
}

/*Блок иконок + текст*/

.txt-icons {
    display: block;
}

.txt-icons-mobile {
    display: none;
}

.columns-2 {
    display: flex;
}

.col-1 {
    flex-basis: 50%;
}

.col-2 {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    flex-basis: 50%;
}

.icon-and-text {
    display: flex;
    align-items: center;
    margin-bottom: 48px;
}

.icon-and-text>span {
    font-size: 40px;
    margin-right: 16px;

}

.icon-and-text>p {
    max-width: 195px;
}

.callback-tills {
	display: flex;
	flex-basis: 100%;
}

.tabs-banner {
    background-color: #EEEEF2;
    flex-basis: 50%;
    padding: 24px;
}

.tabs-banner-2 {
    background-color: #3B52F5;
    flex-basis: 50%;
    padding: 24px;
}

.tabs-banner-subtext {
    max-width: 385px;
}

.call-2-action {
    color: #4D2A87;
}

.call-2-action:hover {
    color: #3B52F5;
}

/*Footer*/

footer {
    height: 100%;
}

.footer-part1 {
    background-color: #000;
}

.footer-1 {
    display: flex;
    padding: 60px 0 60px 0;
    justify-content: space-between;
}

.flex-row-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex-row-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
}

.foot-head {
    display: block;
    color: #FFF;
    font-size: 16px;
    line-height: 24px;
}

.foot-head:hover {
    color: #3B52F5;

}

.foot-text {
    display: block;
    color: #939393;
    font-size: 14px;
    line-height: 18px;
    max-width: 190px;
    margin-bottom: 12px;
}

.foot-text:hover {
    color: #3B52F5;
}

.footer-phone-row {
    margin-bottom: 16px;
}

.icon-footer {
    margin-right: 4px;
    color: #3B52F5;
    font-size: 13px;
}

.footer-phone-number {
    display: flex;
    align-items: center;
    margin-bottom: 4px;
}

.back-blue-border-btn {
    background-color: #000;
    padding: 10px 24px;
    border: 1px solid #3B52F5;
    border-radius: 2px;
    white-space: nowrap;
    color: #FFF;
    text-align: center;
    display: block;
}

.back-blue-border-btn:hover {
    background-color: #3B52F5;
    -webkit-transition: all .4s ease-in;
    -o-transition: all .4s ease-in;
    transition: all .4s ease-in;
}

.footer-part2 {
    background-color: #4D2A87;
    height: 100%;
}

.footer-2 {
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.made-by {
    display: inline-flex;
    align-items: baseline;
}

.made-logo {
    align-self: baseline;
}



/*Классы для адаптива*/

.header-mobile {
    display: none;
}

.no-desk {
    display: none;
}

.header-mobile-1 {
    display: none;
}

/* Попап обратного звонка */

.popup-fade {
    display: none;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.8);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 10000;
    justify-content: center;
    
}

.popup-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    
}

.callback-popup-content {
    border-radius: 2px;
    width: 363px;
    background-color: #fff;    
    overflow-y: auto;
}

.callback-popup-head {
    position: relative;
    border-bottom: 1px solid #DDDDDD;
    padding: 24px;
}

.popup-close {
    position: absolute;
    top: 16px;
    right: 16px;
}

.popup-flex-row {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
}

.callback-popup-form {
    padding: 24px;   
}

.form-field {
    width: 100%;
    border: 1px solid #DDDDDD;
    /* height: 45px; */
    padding: 14px 16px;
    border: 1px solid #DDDDDD;
    border-radius: 2px;
}

.form-field:hover {
    border-color: #3B52F5;
    -webkit-transition: all .4s ease-in;
	-o-transition: all .4s ease-in;
	transition: all .4s ease-in;
}

.delimiter {
    margin-right: 10px;
    margin-left: 10px;
    font-style: 14px;
    line-height: 18px;
}
.now-check {
    margin-left: 24px;
    display: flex;
}

 .checkbox-text {
    color: #939393;
    cursor: pointer;
    font-size: 12px;
    line-height: 16px;
}

.checkbox-link {
    font-size: 12px;
    line-height: 16px;
}


.checkbox {
    display: inline-flex;
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    position: relative;
}

.checkbox:hover .checkbox-text {
    color: #000;
    -webkit-transition: all .4s ease-in;
	-o-transition: all .4s ease-in;
	transition: all .4s ease-in;
}

.checkbox:hover .checkbox-label {
    background-color: #3B52F5;
    -webkit-transition: all .4s ease-in;
	-o-transition: all .4s ease-in;
	transition: all .4s ease-in;
}

.checkbox input {
    visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    height: 0;
    width: 0;
}

.checkbox input:checked~.checkbox-label, 
.checkbox input:checked~.checkbox-text .checkbox-label {
    background-color: #3B52F5;   
}

.checkbox input:checked~.checkbox-label::before, 
.checkbox input:checked~.checkbox-text .checkbox-label::before {
    content: '\e945';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'icomoon';
    color: #fff;
    font-size: 7px;

}

.checkbox-label {
    border-radius: 2px;
    width: 16px;
    height: 16px;
    margin-right: 4px;
    background-color: #EEEEF2;
    position: relative;
    cursor: pointer;
}


/* Попап success заказ обратной связи */

.callback-popup-success-body {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;

}

.callback-popup-success-content, .login-popup-content {
    background-color: #fff;
    padding: 24px;
    position: relative;
    width: 363px;
}

.success-header {
    display: flex;
    align-items: center;
}

.success-icon {
    font-size: 16px;
}

.success-close-btn {
    color: #939393;
    border-bottom: 1px solid #939393;
    border-style: dotted;
}

.success-close-btn:hover {
    color: #3B52F5;
}

/* Попап входа и регистрации */

.login-popup {
    display: none;
}

.login-popup-content {
    display: block;
    padding: 0;
}

.tabs-block {
    padding:  24px 24px 0 24px;
    border: 1px solid #DDDDDD;
}

.login-popup-login-tab {
    display: block;
    padding: 24px;
}

.login-popup-reg-tab {
    padding: 24px;
}



.form-btn-group {
    width: 100%;
    justify-content: start;
}

.login-popup-reg-tab {
    display: none;
}

.login-popup-login-tab {
    display: none;
}

.popup-form {
    display: none;
}