@media screen and (max-width: 1080px) {
	
/*ШАПКА*/
	.container {
		padding: 0 20px;
	}

	.flex-container-768 {
		display: flex;
	}

	.no-mobile-1 {
		display: block;
	}

	.no-tablet {
		display: none!important
	}

	.container-mobile {
		padding: 0 20px;
	}
	
	.header {
		display: none;
	}

	.header-mobile {
		display: block;
	}

	.header-mobile-1 {
		display: none;
	}

	.header-mobile-top {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 20px 0;
	}

	.header-mobile-bottom {
		margin-bottom: 20px;
	}

	.search-form {
		display: block;
		width: 100%;
	}

	.input-search {
		width: 100%;
	}

	.search-btn {
		position: absolute;
		padding: 15px 16px;
		right: 21px;
	}


/*БАННЕР*/
	.catalog-menu {
		display: none;
	}

	.banner-tab-img {
		padding: 24px 12px 24px 24px;
	}
	.banner-tab-img>img {
		width: 85%;
	}

	.banner-img-mobile {
		display: none;
	}

	/*СКРОЛЛ ТОВАРОВ*/
	 /* .items-scroll-x {
	 	display: flex;

	 } */

	 .items-scroll-col {
	 	max-width: 35%;
	 	min-width: 32%;
	 	scroll-snap-align: start;
	 }

	/*Популярные товары*/

	.popular-main {
		display: none;
	}

	.popular-main-mobile {
		display: flex;
		overflow: auto;
		scroll-snap-type: x mandatory;
		margin-bottom: 60px;

	}

	.popular-cat-tiles-col {
		scroll-snap-align: start;
	}

	.col-tile-mobile {
		padding: 16px 24px 24px 24px;
	    background-color: #EEEEF2;
	    position: relative;
	    min-height: 198px;
	    display: block;
	    width: 313px;
	    
	}

	/*Баннер с грузовиком*/

	.no-pr {
		padding-right: 0;
	}

	.page-banner {
		overflow: hidden;
	}

	.page-banner-left {
		width: 100%;
		padding-left: 0;
		margin: 0 20px;
	}

	.page-banner-right {
		display: none;
	}

	.page-banner-right-mobile {
		overflow: hidden;
	}

	.page-banner-img-desktop {
		display: none;
	}

	.page-banner-img-mobile {
		display: block;
		
	}

	.page-banner>img {
		position: absolute;
		right: -160px;
	}

	.pagination-mobile {
		display: block;
	}

	/*Лучшее предложение и хиты*/
		.best-offer {
			display: none;
		}

		.hits {
			width: 100%;
			padding-right: 0px;
		}

		.callback-tills {
			display: none;
		}

		.callback-tills-mobile {
			display: block;
			width: 100%;
		}




	/*АКЦИИ*/

	.offers-tiles {
		display: none;
	}

	.offers-tiles-mobile {
		display: block;
	}

	.scroll-x {
		display: flex;
	    align-items: stretch;
	    margin-left: -10px;
	    margin-right: -10px;
	    overflow-x: scroll;
	    overflow-y: hidden;
	    scroll-snap-type: x mandatory;
	}

	.tile-hor-col {
		padding: 0 10px;
		min-width: 80%;
		scroll-snap-align: start;
	}

	.tile-hor {
		display: flex;
		align-items: center;
		background-color: #D91515;
		height: 100%;
	}

	.duo-banner-img {
		align-self: flex-end;
		margin-bottom: -6px;
	}

	.purple-banner {
	    background-color: #4D2A87;
	} 


	/*Текстовый блок*/
	.txt-icons {
		display: none;
	}

	.txt-icons-mobile {
		display: block;
	}

	.icons-text {
		display: flex;
		flex-wrap: wrap;
	}

	.icons-text-row {
		display: flex;
		padding: 23px 0;
		width: 100%;
	}

	.icon-and-text {
		margin-bottom: 46px;
	}

	.no-mobile {
		display: none;
	}

	.no-desk {
		display: flex;
	}

	.no-desk-1 {
		display: none;
	}

	/*FOOTER*/

	.flex-row-wrap {
		display: flex;
		flex-wrap: wrap;
	}

	.flex-row-wrap .fot-col {
		min-width: 50%;
		margin-bottom: 40px;
	}

	.footer-1 {
		padding-bottom: 20px;
	}

	.item-card-pcs {
		min-width: 65px;
	}

	.item-card-buy-btn {
		display: flex;
		width: 100%;
		justify-content: center;
	}

}


/*МОБИЛКА*/

@media screen and (max-width: 767px) and (min-width: 320px) {

	.container {
		padding: 0 20px;
	}

	.mobile {
		display: block!important;
	}

	.mobile-flex {
		display: flex;
	}

	.header {
		display: none;
	}

	.header-mobile {
		display: none;
	}

	.header-mobile-1 {
		display: block;
	}

	.logo-img {
		width: 80%;
		height: 36px;
	}

	.header_bottom-left {
		margin-right: 0;
	}

	.banner-and-tabs {
		width: 100%;
	}

	[data-slider-nav="banner"] {
		display: none;
	}

	.banner {
		height: auto;
	}

	.banner-left {
		padding: 24px;
		min-width: 50%;
	}



	.banner-right {
		flex-basis: auto;
	}

	.banner-text {
		font-size: 14px;
		line-height: 18px;
	}

	.banner-subtext {
		font-size: 10px;
		line-height: 14px;

	}

	.banner-price-subtext {
		font-size: 10px;
		line-height: 14px;
	}

	.banner-btn {
		padding: 5px 24px;
		white-space: nowrap;
	}

	.banner-btn-text {
		font-size: 12px;
		line-height: 16px;
	}

	.banner-right {
		align-items: center;
		flex-basis: 100%;
	}

	.banner-img {
		display: none;
	}

	.banner-img-mobile {
		display: block;
	}

	.banner-tabs {
		flex-direction: column;
		margin: -10px;
	}

	.banner-tab {
		width: 100%;
	}

	.banner-tabs-col {
		padding: 10px;
	}

	.catalog-menu-banner {
		margin-bottom: 40px;
	}

	.items-tabs-block {
				overflow-x: scroll;
	    scroll-snap-type: x mandatory;
	}

	.items-tabs {
		white-space: nowrap;
	}

	.items-tab {
		scroll-snap-align: start;
	}

	.items-scroll-col {
		min-width: 280px;
	}

	.item-card-pcs {
		width: 75px;
	}

	.item-card-buy-btn {
		justify-content: center;
	}

	.col-tile-mobile {
		width: 280px;
	}

	.popular-main-mobile {
		margin-bottom: 24px;
	}

	.no-desk-1 {
		display: block;
	}

	.no-mobile-1 {
		display: none;
	}

	.page-banner {
		display: block;
		padding: 40px 0;
		padding-right: 0;
	}

	.page-banner-left {
		margin: 0;
		padding: 17px 0 24px 0;
	}

	.page-banner-main {
		display: flex;
	}

	.no-pr {
		padding-right: 0;
	}

	.page-banner-textprice {
		display: block;
	}

	/*Блок акции с товарами */

	.hits {
		display: flex;
		width: 100%;
		overflow-x: hidden;
	}

	.hits-item {
		padding: 0;
		scroll-snap-align: start;
		max-width: 280px;

	}

	.items-scroll-mobile {
		display: flex;
		margin-bottom: 24px;
		margin-left: 0px;
	    margin-right: -5px;
	    /* overflow-x: hidden;
	    scroll-snap-type: x mandatory; */
	    
	}

	.hits-item-col {
		padding: 0 5px;
		max-width: 280px;
	}


	/*БЛОК АКЦИИ*/

	.tile-hor {
		overflow-x: hidden;
	}

	.tile-hor-col {
		min-width: 100%;
	}

	.duo-banner-img {
		height: 100%;
		align-items: center;
		margin-bottom: 0;

	}

	.duo-banner-img>img {
		width: 100%;
	}

	.duo-banner-text {
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		padding-top: 24px;
		padding-bottom: 32px;
    	padding-right: 24px;
	}

	.standart-btn {
		width: 100%;
		text-align: center;
	}

	.form-btn {
		width: auto;
	}

	.txt-center {
		display: flex;
		justify-content: center;
	}

	.banner-text-1 {
		font-size: 24px;
		line-height: 32px;
	}

	.banner-text-2 {
		font-size: 18px;
		line-height: 26px;
		font-style: bold;
	}

	.banner-subtext {
		font-size: 12px;
		line-height: 16px;
		
	}


	.banner-subtext-1 {
		font-size: 16px;
		line-height: 26px;
	}

	.call-2-action {
		font-size: 16px;
		line-height: 26px;
	}

	.flex-col {
		display: flex;
		flex-direction: column;
		align-items: center;
		min-width: 100%;
	}

	.fot-col {
		min-width: 100%;

	}

	.footer-menu-head {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	.made-by {
		display: flex;
		flex-direction: column;
		align-items: center;
		min-width: 100%;
	}

	.made-logo {
		align-self: center;
	}

	.item-card-buy-btn {
		display: flex;
		width: 61%;
	}

	.no-tablet {
		display: block;
	}

}