.container {
    margin: 0 auto;
    max-width: 1200px;
}

.flex-container {
    display: flex;
}

.w1200 {
    width: 1200px;
}

.header_top {
    /* padding: 8px 0; */
    border-bottom: 1px solid #dddddd;
}

.header_top-2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/*Right Top Menu*/

/* .header_top_left {
    display: flex;
    align-items: center;
} */

.menu_left {
    display: flex;
    align-items: center;
    font-size: 14px;
    line-height: 14px;
}

.menu_left > div {
    padding: 8px 0;
}

/*Right Top Menu*/

/* .header_top_right {
    display: flex;
    align-items: center;
    min-height: 100%;
} */

.menu_right {
    display: flex;
    align-items: center;
    font-size: 14px;
    line-height: 14px;
    min-height: 100%;
}

.menu_right > a {
    margin-right: 16px;
}

.menu_right > a:last-child {
    margin-right: 0;
}

.button_grey {
    color: #939393;
}

.button_black {
    color: #000000;
    text-align: center;
}

.button_callback {
    color: #3b52f5;
    border-bottom: 1px dotted #3b52f5;
}

.button_callback:hover {
    border-bottom: none;
}

/* Окно выбора города */

.city-submit-window {
    display: flex;
    position: absolute;
    top: 43px;
    background-color: #fff;
    z-index: 10;
    padding: 16px 24px;
    border-radius: 0px 0px 2px 2px;
    box-shadow: 0px 4px 10px 0px #0000001a;
    border: 1px solid #d6d6d6;
    transition: opacity .3s;
    pointer-events: none;
    opacity: 0;
}
.city-submit-window.active {
    opacity: 1;
    pointer-events: auto;
}


.city-submit-window::after {
    content: '';
    display: inline-block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 9px 9px 9px;
    border-color: transparent transparent #fff transparent;
    z-index: 30;
    position: absolute;
    top: -9px;
    left: 26px;
}

.city-submit-window::before {
    content: '';
    display: inline-block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 11px 11px 11px;
    border-color: transparent transparent #d6d6d6 transparent;
    z-index: 20;
    position: absolute;
    top: -11px;
}

/*Всплывающее меню в хедере*/

.menu_drop {
    display: flex;
    align-items: center;
}

.menu_drop_container {
    display: flex;
    position: absolute;
    top: 38px;
    background-color: #fff;
    z-index: 10;
    transition: opacity .3s;
    pointer-events: none;
    opacity: 0;
}

.menu_drop_container.active {
    opacity: 1;
    pointer-events: auto;
}

.dropdown-active {
    display: block;
}

.menu_drop_menu {
    /* display: block; */
    background-color: #fff;
    padding: 16px 24px;
    border-radius: 0px 0px 2px 2px;
    box-shadow: 0px 4px 10px 0px #0000001a;
    min-width: calc(100% - 24px);
    white-space: wrap;
}

.menu_drop_menu a {
    display: block;
    margin-top: 12px;
    color: #000;
}

.menu_drop_menu a:first-child {
    margin-top: 0;
}

.menu_drop:hover > a {
    color: #3b52f5;
    -webkit-transition: color 0.2s;
    -o-transition: color 0.2s;
    transition: color 0.2s;
}

.submenu-active {
}

.icon-dorp-2 {
    color: #939393;
    font-size: 5px;
    vertical-align: middle;
    margin-left: 4px;
}

.icon-head-menu {
    margin-right: 4px;
    color: #d91515;
    font-size: 21px;
}

.icon-head-menu-2 {
    margin-right: 4px;
    color: #d91515;
    font-size: 16px;
}

.drop-active:hover .icon-dorp-2 {
    transform: rotate(180deg);
    color: #3b52f5;
    -webkit-transition: color 0.2s;
    -o-transition: color 0.2s;
    transition: color 0.2s;
}

/*Нижняя часть хэдера*/

.header_bottom {
    padding: 32px 0 0;
}

.container-head-main {
    margin: 0 auto;
    max-width: 1200px;
}

.header_bottom-line {
    display: flex;
    align-items: center;
}

.header_bottom-left {
    display: flex;
    align-items: center;
    justify-items: flex-start;
    height: 51px;
    margin-right: 36px;
}

.logo-left {
    background-color: #d91515;
    color: #ffffff;
    transform: rotate(-90deg);
    padding: 10px 6px;
    font-size: 12px;
    line-height: 12px;
    font-weight: bold;
    text-align: center;
    border-radius: 1px;
    flex-basis: 42px;
    margin-left: -8px;
    white-space: nowrap;
}

.logo-img {
    /*flex-basis: 220px;*/
    height: 45px;
    margin-left: 5px;
}

/*Строка поиска*/

.header_bottom-center {
    flex-basis: 50%;
}

.header_bottom-center > form {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.input-search {
    flex: 0 2 100%;
    background-color: #fff;
    border-radius: 2px;
    border: 1px solid #3b52f5;
    padding: 16px;
}
::-webkit-input-placeholder {
    color: #939393;
    font-family: HelveticaNeueCyr;
    font-size: 14px;
}
::-moz-placeholder {
    color: #939393;
    font-family: HelveticaNeueCyr;
    font-size: 14px;
}
:-ms-input-placeholder {
    color: #939393;
    font-family: HelveticaNeueCyr;
    font-size: 14px;
}
:-moz-placeholder {
    color: #939393;
    font-family: HelveticaNeueCyr;
    font-size: 14px;
}

.input-search:focus::-webkit-input-placeholder {
    color: transparent;
}

.search-btn {
    position: absolute;
    padding: 14px 16px;
}

.search-btn:hover {
    cursor: pointer;
}

/*Кнопки в хедере*/
.header_bottom-right {
    display: flex;
    align-items: center;
}

.head-nav-btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 24px;
}

.head-nav-btn:last-child {
    margin-right: 0;
}

.head-nav-btn:hover > p {
    color: #d91515;
    -webkit-transition: all 0.4s ease-in;
    -o-transition: all 0.4s ease-in;
    transition: all 0.4s ease-in;
}

.icon-head-menu-nav {
    font-size: 18px;
}

.head-nav-btn-text {
    color: #000;
    margin-top: 5px;
    text-align: center;
    white-space: nowrap;
}

.head-nav-icon-count {
    display: flex;
    align-items: center;
    
}

.count {
    color: #fff;
    font-size: 10px;
    line-height: 10px;
    padding: 3px 5px;
    background-color: #d91515;
    border-radius: 2px;
    margin-left: 4px;
    opacity: 0;
    pointer-events: none;
    position: absolute;
}

.count.active {
    opacity: 1;
    pointer-events: all;
    position: relative;
}

/*Блок с меню и баннером*/

.logo-1 {
    margin-right: 12px;
}

.logo-1 > span {
    display: block;
    font-size: 21px;
}

.catalog-menu-banner {
    display: flex;
    margin-bottom: 60px;
}

.catalog-menu {
    margin-right: 20px;
    min-width: 23.75%;
    display: flex;
    /* display: flex;
    flex-direction: column; */
    position: relative;
}

.submenu {
    align-self: top;
    position: absolute;
    left: 297px;
    top: -1px;
    width: 100%;
    opacity: 0;
    transition: all 0.3s;
    pointer-events: none;
    z-index: 100;
}

.submenu.active {
    opacity: 1;
    transition: all 0.3s;
    pointer-events: auto;
}

.icon-arrow-catalog {
    position: absolute;
    right: 24px;
    
}

.catalog-menu__main-menu {
    border-radius: 2px;
}

.main-menu__item {
    display: flex;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    position: relative;
    align-items: auto;
}
.main-menu__item:first-child {
    border: 1px solid #ddd;
}

.main-menu__elt {
    display: flex;
    align-items: center;
    padding: 12px 24px;
    position: relative;
    color: #000;
    flex-basis: 100%;
    background-color: #fff
}

.main-menu__elt > p {
    padding-right: 4px;
}

.icon-drop-right {
    color: #000;
    font-size: 6px;
    transform: rotate(270deg);
}

.main-menu__elt:hover {
    background-color: #3b52f5;
    color: #fff;
}

.main-menu__elt:hover .icon-drop {
    color: #fff;
    transition: all .3s;
}

.main-menu__elt:last-child {
    border-bottom: none;
}

.catalog-menu__submenu {
    position: absolute;
    right: 0;
    min-width: 23.75%;
}

.banner-and-tabs {
    overflow: hidden;
    position: relative;
}

.carousel {
position: relative;
}

.nav-icons-container {
    position: absolute;
    left: 32px;
    top: 32px;
    z-index: 50;
}

.nav-icons {
    display: flex;
    margin: 0 0 24px 0;
}

.arrow-prev {
    margin-right: 12px;
    color: #d6d6d6;
    cursor: pointer;
}

.arrow-fwd {
    color: #d6d6d6;
    cursor: pointer;
}

.arrow-prev > span {
    display: block;
}

.arrow-fwd > span {
    /* transform: rotate(180deg); */
    display: block;
}

.arrow-prev:hover {
    color: #3b52f5;
    -webkit-transition: all 0.4s ease-in;
    -o-transition: all 0.4s ease-in;
    transition: all 0.4s ease-in;
}

.arrow-fwd:hover {
    color: #3b52f5;
    -webkit-transition: all 0.4s ease-in;
    -o-transition: all 0.4s ease-in;
    transition: all 0.4s ease-in;
}

.banner {
    display: flex;
    background-color: #eeeef2;
    border-radius: 2px;
    height: 318px;
}

.banner-left {
    padding: 64px 32px 32px 32px;
    flex-basis: 50%;
}

.banner-text {
    color: #000;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 4px;
}

.banner-subtext {
    color: #000;
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 24px;
}

.banner-price {
    display: inline-flex;
    align-items: baseline;
}

.banner-price-sum {
    color: #d91515;
    font-size: 24px;
    line-height: 32px;
    font-weight: 700;
    margin-right: 4px;
}

.banner-price-symb {
    color: #d91515;
    font-size: 10px;
}

.banner-price-subtext {
    color: #939393;
    font-size: 12px;
    line-height: 16px;
    margin-bottom: 16px;
}

.banner-btn-container {
    position: relative;
}

.banner-btn {
    padding: 10px 24px;
    background-color: #3b52f5;
    text-align: center;
    display: inline-block;
    border-radius: 2px;
    cursor: pointer;
}

.banner-btn:hover {
    opacity: 0.7;
}

.banner-btn:hover .banner-btn-text {
    color: #fff;
}

.banner-btn-text {
    color: #fff;
}

.banner-right {
    display: flex;
    align-items: flex-end;
    flex-basis: 50%;
    justify-content: center;
}

.banner-img-mobile {
    display: none;
}

.banner-tabs {
    display: flex;
    justify-content: space-between;
    margin: 0 -10px;
}

.banner-tabs-col {
    padding-left: 10px;
    padding-right: 10px;
    flex-basis: 33.33%;
}

.banner-tab {
    display: inline-flex;
    background-color: #eeeef2;
    align-items: center;
    border-radius: 2px;
    height: 100%;
    cursor: pointer;
}

.banner-tab:hover {
    background-color: #3b52f5;
    color: #fff;
    -webkit-transition: all 0.4s ease-in;
    -o-transition: all 0.4s ease-in;
    transition: all 0.4s ease-in;
}

.banner-tab:hover .banner-tab-text {
    color: #fff;
}

.banner-tab-img {
    padding: 12px 16px;
}

.banner-tab-text {
    padding-right: 16px;
    color: #000;
}

/*Блок с товарами*/
.items-main {
    margin-bottom: 24px;
}

.items-h2-nav {
    display: flex;
    align-items: center;
    /*position: relative;*/
    margin-bottom: 32px;
    justify-content: space-between;
    align-self: stretch;
}

.h2-block {
    display: block;
}

.items-main-1 {
    display: block;
}

.tabs-block {
    margin-bottom: 24px;
    position: relative;
    display: flex;
}

.tabs {
    display: inline-flex;
}

.tab-line {
    height: 1px;
    background-color: #dddddd;
}

.tab {
    margin-right: 40px;
    padding-bottom: 24px;
    cursor: pointer;
}

.tabline {
    display: block;
    width: 100%;
    height: 2px;
    background-color: #3b52f5;
    position: absolute;
    bottom: -1px;
}

.items-tab:hover {
    color: #000;
    -webkit-transition: all 0.4s ease-in;
    -o-transition: all 0.4s ease-in;
    transition: all 0.4s ease-in;
}

.tab-active {
    color: #000;
}

/*Карточка товара*/

.items-scroll-x {
    /* display: flex;
    overflow: auto;
    margin-right: -10px;
    scroll-snap-type: x mandatory; */
    margin-bottom: 24px;
    width: 100%;
    
}

.items-scroll-mobile {
    display: none;
}

.items-scroll {
    display: flex;
    margin-bottom: 24px;
    margin-right: 10px!important;
    margin-left: -10px!important;
    min-width: 100%;
    scroll-snap-align: center;
    /*overflow-x: auto;*/
    overflow-x: auto;
}

.items-scroll-col {
    padding: 0 10px;
    max-width: 20%;
    min-width: 20%;
}

.items-scroll-col:last-child {
    margin-right: 0;
}

.item-card {
    border: 1px solid #dddddd;
    border-radius: 2px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 100%;
}

.item-card-top {
    padding: 12px;
    position: relative;
    height: 100%;
}

.item-badges {
    width: 44px;
    position: absolute;
}

.sale-badge {
    padding: 2px 10px;
    background-color: #d91515;
    text-align: center;
    font-size: 12px;
    color: #fff;
    margin-bottom: 4px;
}

.badge {
    padding: 2px 10px;
    background-color: #4d2a87;
    text-align: center;
    font-size: 12px;
    color: #fff;
    margin-bottom: 4px;
}

.purple-badge {
    background-color: #4d2a87;
}

.red-badge {
    background-color: #d91515;
}

.blue-badge {
    background-color: #3b52f5;
}

.item-img {
    margin-bottom: 38px;
    display: block;
}

.item-img > img {
    width: 100%;
}

.artic-fav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
}

.item-small-text {
    color: #939393;
    font-size: 12px;
    line-height: 16px;
}

.item-fav-icon {
    font-size: 18px;
    color: #939393;
}

.favorite-btn {
    cursor: pointer;
}

.favorite-btn:hover > span {
    color: #d91515;
}

.item-name {
    color: #000;
    font-size: 14px;
    line-height: 18px;
    display: block;
    margin-bottom: 12px;
}

.discount-badge {
    background-color: #59b72c;
    color: #fff;
    font-size: 12px;
    line-height: 16px;
    padding: 2px 12px;
    text-align: center;
    margin-bottom: 6px;
    display: inline-flex;
}

.item-price {
    margin-top: auto;
    margin-bottom: 4px;
    display: flex;
    align-items: baseline;
}

.item-price-sum {
    color: #000;
    font-size: 18px;
    line-height: 26px;
    margin-right: 4px;
}

.item-price-symb {
    color: #000;
    font-size: 8px;
    margin-right: 4px;
}

.item-price-sum-2 {
    color: #000;
    font-size: 12px;
    line-height: 16px;
    margin-right: 4px;
}

.item-price-discount {
    display: flex;
    align-items: baseline;
    position: relative;
}

.item-price-discount > span {
    color: #939393;
    font-size: 8px;
}

.item-price-discount-sum {
    margin-right: 4px;
    font-size: 12px;
    line-height: 16px;
    color: #939393;
}

.item-price-discount-sum-2 {
    font-size: 12px;
    line-height: 16px;
    color: #939393;
}

.crossout-line {
    position: absolute;
    height: 1px;
    background-color: #939393;
    top: 8px;
    width: 100%;
}

.item-card-bottom {
    padding: 12px;
    border-top: 1px solid #ddd;
}

.small-text-tooltip {
    display: flex;
}

.item-tooltip {
    background-color: #eeeef2;
    border-radius: 50%;
    width: 16px;
    height: 16px;
}

.tooltip-text {
    font-size: 8px;
    line-height: 8px;
    text-align: center;
    box-sizing: content-box;
    margin-top: 5px;
}

/*Кнопки количества и купить*/

.small-text-tooltip {
    margin-bottom: 10px;
}

.item-card-pcs-buy {
    display: flex;
    align-items: center;
}

.pcs-price {
    display: flex;
    width: 52%;
}

.item-card-pcs {
    display: flex;
    align-items: center;
    background-color: #eeeef2;
    border-radius: 2px;
    margin-right: 16px;
}

.qnt-minus-btn {
    padding-right: 4px;
    height: 38px;
    padding-left: 12px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.qnt-plus-btn-hor {
    content: '';
    background-color: #000;
    height: 1px;
    width: 9px;
    display: block;
}

.qnt-minus-btn:hover .qnt-plus-btn-hor {
    background-color: #3b52f5;
}

.qnt-choose {
    width: 100%;
    text-align: center;
    background-color: transparent;
    font-size: 12px;
}

.qnt-plus-btn-container {
    display: flex;
    align-items: center;
    padding-left: 4px;
    padding-right: 12px;
    height: 38px;
    cursor: pointer;
}

.qnt-plus-btn {
    position: relative;
}

.qnt-plus-btn-ver {
    content: '';
    background-color: #000;
    height: 9px;
    width: 1px;
    display: block;
    position: absolute;
    left: 4px;
    top: -4px;
}

.qnt-plus-btn-container:hover .qnt-plus-btn > div {
    background-color: #3b52f5;
}

.standart-btn {
    background-color: #3b52f5;
    padding: 10px 21px;
    border-radius: 2px;
    white-space: nowrap;
    color: #fff;
    display: inline-block;
    cursor: pointer;
}

.standart-btn:hover {
    opacity: 0.8;
    -webkit-transition: all 0.4s ease-in;
    -o-transition: all 0.4s ease-in;
    transition: all 0.4s ease-in;
}

.standart-btn:hover .a-no-hover {
    color: #fff;
    -webkit-transition: all 0.4s ease-in;
    -o-transition: all 0.4s ease-in;
    transition: all 0.4s ease-in;
}

.item-card-buy-btn {
    background-color: #3b52f5;
    padding: 10px 21px;
    border-radius: 2px;
    white-space: nowrap;
    color: #fff;
    text-align: center;
    display: inline-flex;
}

.item-card-buy-btn > a {
    color: #fff;
}

.item-card-buy-btn:hover {
    opacity: 0.8;
    -webkit-transition: all 0.4s ease-in;
    -o-transition: all 0.4s ease-in;
    transition: all 0.4s ease-in;
}

.item-card-buy-btn:hover .a-no-hover {
    color: #fff;
}

.pagination-block {
    display: flex!important;
    position: relative!important;
    align-items: center!important;
    justify-content: center!important;
    margin-top: 24px!important;
}

.pagination {
    display: flex!important;
    align-items: center!important;
    justify-content: center!important;
    margin-bottom: 24px;
}

.pagination-item {
    background-color: #D7D7E9!important;
    border-radius: 50%!important;
    width: 6px!important;
    height: 6px!important;
    margin: 0!important;
    margin-right: 12px!important;
    opacity: 1!important;
    z-index: 100;
    transition: transform .2s linear;
    
}

.pagination-item.is-active {
    background-color: #3b52f5!important;
    transform: scale(1)!important;
}

.pagination-item:hover {
    background-color: #3b52f5!important;
}

.pagination-item:last-child {
    margin-right: 0;
}

.red-btn {
    background-color: #d91515;
    color: #fff;
    text-align: center;
}

/*Популярные категории на главной*/

.popular-cat-tiles {
    display: flex;
    margin-bottom: 24px;
    max-width: 100%;
}

.popular-cat-tiles-col {
    flex-basis: 25%;
    flex-shrink: 1;
    padding: 0 10px;
}

.popular-cat-tiles-col:first-child {
    padding-left: 0;
}

.popular-cat-tiles-col:last-child {
    padding-right: 0;
}

.popular-main-mobile {
    display: none;
}

.offers-tiles {
    display: block;
}

.offers-tiles-mobile {
    display: none;
}

.tile-head {
    color: #000;
    font-size: 18px;
    line-height: 26px;
    margin-bottom: 4px;
    max-width: 146px;
}

.tile-subtext {
    color: #939393;
    font-size: 12px;
    line-height: 16px;
}

.tile-icon {
    font-size: 40px;
    position: absolute;
    right: 24px;
    bottom: 24px;
}

.col1-tile-1 {
    padding: 16px 24px 24px 24px;
    background-color: #eeeef2;
    position: relative;
    min-height: 198px;
    display: block;
    max-width: 100%;
}

.col1-tile-2 {
    padding: 16px 24px 24px 24px;
    background-color: #eeeef2;
    position: relative;
    min-height: 164px;
    display: block;
    max-width: 100%;
}

.col2-tile-1 {
    padding: 16px 24px 24px 24px;
    background-color: #eeeef2;
    position: relative;
    min-height: 248px;
    display: block;
    max-width: 100%;
}

.col2-tile-2 {
    padding: 16px 24px 24px 24px;
    background-color: #eeeef2;
    position: relative;
    min-height: 114px;
    display: block;
    max-width: 100%;
}

.col3-tile-1 {
    padding: 16px 24px 24px 24px;
    background-color: #eeeef2;
    position: relative;
    min-height: 114px;
    display: block;
    max-width: 100%;
}

.col3-tile-2 {
    padding: 16px 24px 24px 24px;
    background-color: #eeeef2;
    position: relative;
    min-height: 114px;
    display: block;
    max-width: 100%;
}

.col3-tile-3 {
    padding: 16px 24px 24px 24px;
    background-color: #eeeef2;
    position: relative;
    min-height: 114px;
    display: block;
    max-width: 100%;
}

.col4-tile-1 {
    padding: 16px 24px 24px 24px;
    background-color: #eeeef2;
    position: relative;
    min-height: 114px;
    display: block;
    max-width: 100%;
}

.col4-tile-2 {
    padding: 16px 24px 24px 24px;
    background-color: #eeeef2;
    position: relative;
    min-height: 248px;
    display: block;
    max-width: 100%;
}

.col-tile-hover:hover {
    background-color: #3b52f5;
    color: #fff;
}

.col-tile-hover:hover .tile-head {
    color: #fff;
}

.col-tile-hover:hover .tile-subtext {
    color: #fff;
}

.col-tile-hover:hover .tile-icon {
    color: #fff;
}

.popular-main {
    /*display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: ;*/
}

.popular-main-mobile {
    display: none;
}

.popular-cat-btn {
    padding: 10px 21px;
}

/*Мини баннер с грузовиком*/

.page-banner-bg {
    background-color: #eeeef2;
    margin-bottom: 58px;
}

.page-banner {
    display: flex;
    align-items: center;
}

.page-banner-left {
    width: 100%;
    padding-top: 48px;
    padding-bottom: 43px;
    padding-left: 104px;
}

.page-banner-textprice {
    display: flex;
    align-items: baseline;
}

.page-banner-right {
    padding-right: 104px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.page-banner-img-mobile {
    display: none;
}

.pagination-mobile {
    display: none;
}

/*Хиты продаж и лучшее предложение*/

.hits-offer {
    display: flex;
    /*flex-direction: column;*/
}

.hits {
    display: flex;
    flex-direction: column;
    padding-right: 55px;
    width: 70%;
    align-items: center;
}

.hits-items-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    margin-left: -10px;
    margin-right: -10px;
}

.hits-item {
    /* width: 33.33%; */
    padding-left: 10px;
    padding-right: 10px;
}

.item-card-small {
    display: flex;
    flex-direction: column;
    border: 1px solid #dddddd;
    border-radius: 2px;
    position: relative;
    padding: 12px;
    position: relative;
    height: 100%;
}

.item-small-img {
    margin-bottom: 12px;
    display: flex;
    justify-content: center;
    max-height: 116px;
    max-width: 100%;
}

.item-img-small > img {
    width: 100%;
}

.best-offer {
    width: 414px;
    flex-shrink: 0;
}

.item-card-big {
    border: 1px solid #dddddd;
    border-radius: 2px;
    position: relative;
    padding: 16px;
}

.item-big-img {
    display: flex;
    justify-content: center;
    margin-bottom: 44px;
}

.item-big-img > img {
    width: auto;
}

.item-big-name {
    color: #000;
    font-size: 14px;
    line-height: 18px;
    display: block;
    margin-bottom: 36px;
}

.item-big-price {
    white-space: nowrap;
}

.item-big-price-btn {
    align-items: flex-start;
    justify-content: space-between;
}

.link-btn {
    display: flex;
    justify-content: center;
}

.duo-banner-block {
    display: flex;
}

.duo-banner {
    display: flex;
    background-color: #d91515;
    align-items: center;
    flex-basis: 590px;
}

.duo-banner-img {
    margin-right: 24px;
}

.purple-banner {
    background-color: #4d2a87;
}

/*Блок иконок + текст*/

.txt-icons {
    display: block;
}

.txt-icons-mobile {
    display: none;
}

.columns-2 {
    display: flex;
}

.col-1 {
    flex-basis: 50%;
}

.col-2 {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    flex-basis: 50%;
}

.icon-and-text {
    display: flex;
    align-items: center;
    margin-bottom: 48px;
}

.icon-and-text > span {
    font-size: 40px;
    margin-right: 16px;
}

.icon-and-text > p {
    max-width: 195px;
}

.callback-tills {
    display: flex;
    flex-basis: 100%;
}

.tabs-banner {
    background-color: #eeeef2;
    flex-basis: 50%;
    padding: 24px;
}

.tabs-banner-2 {
    background-color: #3b52f5;
    flex-basis: 50%;
    padding: 24px;
}

.tabs-banner-subtext {
    max-width: 385px;
}

.call-2-action {
    color: #4d2a87;
}

.call-2-action:hover {
    color: #3b52f5;
}

/*Footer*/

footer {
    height: 100%;
}

.footer-part1 {
    background-color: #000;
}

.footer-1 {
    display: flex;
    padding: 60px 0 60px 0;
    justify-content: space-between;
}

.flex-row-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex-row-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
}

.foot-head {
    display: block;
    color: #fff;
    font-size: 16px;
    line-height: 24px;
}

.foot-head:hover {
    color: #3b52f5;
}

.foot-text {
    display: block;
    color: #939393;
    font-size: 14px;
    line-height: 18px;
    max-width: 190px;
    margin-bottom: 12px;
}

.foot-text:hover {
    color: #3b52f5;
}

.footer-phone-row {
    margin-bottom: 16px;
}

.icon-footer {
    margin-right: 4px;
    color: #3b52f5;
    font-size: 13px;
}

.footer-phone-number {
    display: flex;
    align-items: center;
    margin-bottom: 4px;
}

.back-blue-border-btn {
    background-color: #000;
    padding: 10px 24px;
    border: 1px solid #3b52f5;
    border-radius: 2px;
    white-space: nowrap;
    color: #fff;
    text-align: center;
    display: block;
}

.back-blue-border-btn:hover {
    background-color: #3b52f5;
    -webkit-transition: all 0.4s ease-in;
    -o-transition: all 0.4s ease-in;
    transition: all 0.4s ease-in;
}

.footer-part2 {
    background-color: #4d2a87;
    height: 100%;
}

.footer-2 {
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.made-by {
    display: inline-flex;
    align-items: baseline;
}

.made-logo {
    align-self: baseline;
}

/*Классы для адаптива*/

.header-mobile {
    display: none;
}

.no-desk {
    display: none;
}

.header-mobile-1 {
    display: none;
}

